<%= form_with model: @user do |form| %>
    <% if @user.errors.full_messages.any? %>
        <% @user.errors.full_messages.each do |error_message| %>
            <%= error_message if @user.errors.full_messages.first == error_message %> <br>
  <% end %>
    <% end %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username, placeholder: 'Username'%>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: 'example@example.com' %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: 'Password' %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>