<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :username %>
        <%= form.text_field :username, placeholder: 'Username'%>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: 'example@example.com' %>
    </div>

    <div>
        <%= form.label :password %>
        <%= form.password_field :password, placeholder: 'Password' %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>

<%#= form_tag "/users", method: "post" do %>
    <%#= label_tag 'username', 'Username' %>
    <%#= text_field_tag 'username' %>
    <%#= label_tag 'email', 'Email' %>
    <%#= text_field_tag 'email' %>
    <%#= label_tag 'password' %>
    <%#= password_field_tag 'password' %>
    <%#= submit_tag("Submit") %>
<%# end %>

<!--<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <title>Re-Former</title>
    </head>
    <body>
        <form action="/users" method="post" accept-charset="UTF-8">
            <input 
                type="hidden" 
                name="authenticity_token" 
                value="<%= <%# form_authenticity_token %> %>"
            >
            <label for="username">Username</label>
            <input type="text" name="user[username]">
            <label for="email">Email</label>
            <input type="text" name="user[email]">
            <label for="password">Password</label>
            <input type="password" name="user[password]">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>-->